<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pesquisar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <!-- Searchbar -->
    <ion-searchbar
      placeholder="Procurar exercícios"
      [(ngModel)]="searchTerm"
      (ionInput)="filterPrograms()"
      class="custom-searchbar"
    ></ion-searchbar>

    <div class="results-count" *ngIf="filteredPrograms.length > 0">
      {{ filteredPrograms.length }} resultados encontrados
    </div>

    <!-- Grid de resultados -->
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let workout of filteredPrograms">
          <div class="program-card" [style.background-image]="'url(' + workout.imagem_programa + ')'">
            <div class="card-overlay">
              <ion-chip class="chip-time">
                <ion-icon name="stopwatch-outline"></ion-icon>
                <span>{{ workout.tempo_total }}</span>
              </ion-chip>
              <div class="text-content">
                <h3>{{ workout.nome_programa }}</h3>
                <p>{{ workout.descricao }}</p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
