<ion-header translucent="true" class="background-app">
  <ion-toolbar color="background-app">
    <ion-title color="light">My Statistics</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" color="light">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="statistics-content">
  <div class="container">
    <ion-segment
      [(ngModel)]="selectedMetric"
      class="metric-segment"
      mode="md">

      <ion-segment-button value="calories">
        <ion-icon name="flame"></ion-icon>
        <ion-label>Calories</ion-label>
      </ion-segment-button>

      <ion-segment-button value="heart">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Heart Rate</ion-label>
      </ion-segment-button>

      <ion-segment-button value="bpm">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>BPM</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="chart-wrapper">
      <span class="chart-placeholder">GRÁFICO AQUI</span>
    </div>

    <hr class="divider" />

    <div class="recent-header">
        <h2>Recent Workouts</h2>
        <a>See all</a>
    </div>

    

    <ion-list lines="none" class="workout-list">
      <ion-item *ngFor="let w of recentWorkouts" class="workout-card" lines="none">
        <ion-label>
          <div class="card-header">
            <h3>{{ w.title }}</h3>
            <ion-note slot="end">
              {{ w.date | date:'d MMMM y' }}
            </ion-note>
          </div>

          <p class="subline">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ w.duration }}</span>
            <span class="dot">•</span>
            <span>{{ w.reps }}</span>
          </p>

          <div class="metrics-row">
            <div class="metric">
              <ion-icon name="flame"></ion-icon>
              <span class="label">Calories</span>
              <span class="value">{{ w.calories }} Kcal</span>
            </div>

            <div class="divider"></div>

            <div class="metric">
              <ion-icon name="heart"></ion-icon>
              <span class="label">Heart Rate</span>
              <span class="value">{{ w.heartRate }} Bpm</span>
            </div>

            <div class="divider"></div>

            <div class="metric">
              <ion-icon name="pulse"></ion-icon>
              <span class="label">Bpm</span>
              <span class="value">{{ w.bpm }} Bpm</span>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div> <!--container-->
</ion-content>