<ion-header translucent="true" class="background-app">
  <ion-toolbar color="background-app">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref="/tabs/home" icon="chevron-back-outline" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title color="light">{{program?.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" color="light">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-app">
  <div class="container">
    <ion-grid>
      <ion-row class="nopadding">
        <ion-col size="12" class="nopadding">
          <ion-card class="card-video nopadding">
            <video controls autoplay>
              <source [src]="program?.video" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-text class="text-white"><h3>{{program?.title}}</h3></ion-text>
      </ion-row>      
      <ion-row class="rating-row">
        <ion-col size="12">          
          <div class="stars-container">
            <ion-icon
              *ngFor="let i of [1,2,3,4,5]"
              [name]="i <= program?.rating ? 'star' : (i - program?.rating < 1 ? 'star-half' : 'star-outline')"
            ></ion-icon>
          </div>
          <ion-chip class="chip-time">
            <ion-icon name="stopwatch-outline" class="icon"></ion-icon>
            <span>{{program?.duration}}</span>
          </ion-chip>
          <div class="difficulty-container">
            <span class="difficulty-label">Dificuldade</span>
            <div class="flame-container">
              <ion-icon
                *ngFor="let i of [1,2,3]; let idx = index"
                [name]="(idx+1) <= program?.difficulty ? 'flame' : 'flame-outline'"
              ></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <hr class="divider">

      <ion-text class="text-white"><h3>Equipamento necessário</h3></ion-text>
      <ion-row *ngFor="let eq of program?.equipment" class="equipment-row">
        <img [src]="eq.image" alt="image" class="equipment-image">
        <ion-text><p class="text-white">{{ eq.name }}</p></ion-text>
      </ion-row>
      
      <ion-button class="workout-start-button continue-btn" expand="block" (click)="openTimer(parseDuration(program?.duration))">COMEÇAR</ion-button>
    </ion-grid>
  </div>
</ion-content>
