<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <span class="tab-label">Home</span>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats-chart"></ion-icon>
      <span class="tab-label">Stats</span>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <span class="tab-label">Pesquisar</span>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="bookmark"></ion-icon>
      <span class="tab-label">Salvos</span>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <span class="tab-label">Perfil</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
