.header-container { margin-bottom: -1px; }

.stats-toolbar {
  --background: var(--color-background-app);
  --padding-start: 0;
  --padding-end: 0;
  --min-height: 48px;
  --border-width: 0;
  --inner-border-width: 0;
  --box-shadow: none;


  &::part(native)            { box-shadow: none; }
  &::part(toolbar-background){ border-bottom: none; box-shadow: none; }
}

.stats-toolbar ion-title {
  font-size: 20px;
  font-weight: 600;
}

 .container {
  display: flex;
  flex-direction: column;
  min-height:100%;
  background-color: var(--color-background-app);
  padding: 20px 16px;
  color: var(--color-text);
}

/*** Hero ***/
.hero {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 12px;
  padding-top: 10px;
}

/*** Títulos & links ***/
.title-row,
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h2 {
  margin: 0 0 4px 0;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  margin: 24px 0 12px 0;
  font-size: 16px;
  font-weight: 600;
}

.link-primary {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.icon-primary { color: var(--color-primary); }

/************  Stat cards  ************/
.stat-row {
  display: flex;
  gap: 0px;
  width: 100%;
}

.stat-row .stat-card {
  flex: 1 1 0;
}

.stat-card {
  --background: var(--color-background-input);
  border-radius: 16px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 160px;
  text-align: center;
}

.stat-header {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-primary);
}

.stat-header ion-icon {
  font-size: 20px;
}

.stat-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  color: var(--color-text);
}

.stat-value,
.stat-value .number {
  font-size: 35px;
  font-weight: 700;
}

.stat-value .unit {
  font-size: 35px;
  font-weight: 600;
  margin-left: 2px;
}

/************  Divider + Header  ************/
.divider {
  margin: 8px 0 16px;
  border-top: 1px solid var(--color-border);
  width: 100%;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--color-text);

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }

  a.link-primary {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
}

.continue-btn {
  --background: var(--color-primary);
  --color: #000000;
  font-weight: 600;
  text-transform: none;
  height: 48px;
  --border-radius: 16px;
  margin: 16px 0 16px;
}